pyrofork==2.3.45
tgcrypto
pymongo[srv]==3.12.3 
marshmallow==3.20.1
motor==2.5.1 
umongo==3.1.0
requests
bs4
aiohttp==3.8.3
pytz
psutil==5.9.4
aiofiles==22.1.0
anyio
httpx[http2]
cloudscraper
python-dotenv
python-decouple
gunicorn==20.1.0
jinja2
werkzeug>=2.0
itsdangerous>=2.0.0
apscheduler
shortzy
wget
ujson
countryinfo
colorama
humanize>=4.6.0
dnspython>=2.3.0
ffmpeg
ffmpeg-python>=0.2.0
fuzzywuzzy
python-Levenshtein
gTTS>=2.3.0
googletrans>=3.1.0a0
hachoir
NumPy
opencv-python-headless>=4.7.0.68
Pillow==9.4.0
pycryptodome
pygments
pyromod
PyPDF2
pyshorteners
search_engine_parser
speedtest>=0.0.1
speedtest-cli
yt-dlp
wheel
git+https://github.com/Joelkb/cinemagoer #cinemagoer
git+https://github.com/agronholm/anyio
